<!DOCTYPE html>
<html>
  <head>
    <meta name="authenticity_token", content="<%= form_authenticity_token %>">
    <title>Chess Tutor</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/palette.css">
    <link rel="stylesheet" type="text/css" href="assets/css/chess.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/js/board.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/chess.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
