<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="assets/css/chess.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/js/chess.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
