<h1>Welcome to Chess Tutor!</h1>
<button id="start-btn">Start Game </button>

<div class='board'>
  <% 8.times do |row| %>
  <% board_color = row.even? ? 'white' : 'black' %>
    <ul>
      <% 8.times do |col| %>
        <% pos = [row, col] %>
        <% piece = @board[pos] %>
        <li id="<%=coordinate_from_pos(pos) %>"
          class="cell <%="board-#{board_color}"%>"><%= piece.to_html %></li>
        <% board_color = board_color == 'white' ? 'black' : 'white'%>
      <% end %>
    </ul>
  <% end %>
</div>
