ul, li, div, h1, h2,
section, header, footer, sidebar, subhead,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: transparent;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  background-color: #F5F5F5;
}

/* Header and footer */

header {
  background-color: #076390;
  padding: 20px;
}

footer {
  background-color: #FFA741;
  padding: 20px;
}

h1 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

/* Left nav bar */

nav {
  background-color: #E37A00;
  padding: 10px;
}

#start-btn {
  font-weight: bold;
  background: #076390;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #1876A3;
}

/* Right side bar */

sidebar {
  background-color: #FFA741;
  width: 200px;
  margin-left: 20px;
}

h2 {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #076390;
}

/* Board */

content {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.board-black {
  background-color: lightgrey;
}

ul {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
}

.cell {
  border: 1px solid black;
  margin: -1px -1px 0 0;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
}

.cell.selected {
  border: 2px solid black;
}

.cell:first-child, ul:last-child > .cell { /* row and column labels */
  border: 0;
}

ul:first-child { /* draws top border when top row flashes */
  border-top: 1px solid black;
}

ul:first-child .cell:first-child {
  border-top: 1px solid #F5F5F5;
  margin-top: -1px;
}

ul:last-child { /* draws right border when last column flashes */
  border-right: 0;
}

.cell:first-child { /* draws left border when first column flashes */
  border-right: 1px solid black;
}

ul:last-child > .cell:not(:first-child) { /* draws bottom border when bottom row flashes */
  border-top: 1px solid black;
}

/* Chess pieces */

.selected, .moveable, .valid {
  cursor: pointer;
}

.moveable {
  background-color: LemonChiffon; /* light yellow */
}

.selected, .moveable:hover {
  background-color: #fff280; /* yellow */
}

.valid {
  background-color: #98fb98; /* light green */
}

.valid:hover {
  background-color: #6bfa6b; /* green */
}

.valid.unsafe {
  background-color: LightPink;
}

.valid.unsafe:hover, .threatened {
  background-color: #ff99a8; /* pink */
}

.moveable.threatened {
  background: linear-gradient(to bottom right, LemonChiffon, LightPink);
}

.moveable.threatened:hover {
  background: linear-gradient(to bottom right, #fff280, #ff99a8);
}

.threat {
  color: red;
}
