ul, li, div, h1, h2,
section, header, footer, sidebar, subhead,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: transparent;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  background-color: #F5F5F5;
}

header {
  background-color: #076390;
  padding: 20px;
}

footer {
  background-color: #FFA741;
  padding: 20px;
}

h1 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #076390;
}

content {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

nav {
  background-color: #E37A00;
  padding: 10px;
}

sidebar {
  background-color: #FFA741;
  width: 200px;
  margin-left: 20px;
}

#start-btn {
  font-weight: bold;
  background: #076390;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #1876A3;
}

.board-black {
  background-color: lightgrey;
}

ul {
  display: flex;
}

.cell {
  display: block;
  list-style: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
}

.row-head {
  border-top: 0;
  border-bottom: 0;
}

.col-head {
  border-bottom: 0;
  border-right: 0;
}

.gap {
  border: 0;
}

.selected, .moveable, .valid {
  cursor: pointer;
}

.selected {
  padding: 9px 9px 9px 9px;
  border: 1px solid black;
  border-top-width: 2px;
  border-right-width: 2px;
}

.threat {
  color: red;
}

.moveable {
  background-color: LemonChiffon; /* light yellow */
}

.moveable.threatened {
  background: linear-gradient(to bottom right, LemonChiffon, LightPink);
}
.selected, .moveable:hover {
  background-color: #fff280; /* yellow */
}

.valid {
  background-color: #98fb98; /* light green */
}
.valid:hover {
  background-color: #6bfa6b; /* green */
}
.valid.unsafe, .threatened {
  background-color: LightPink;
}
.valid .unsafe:hover {
  background-color: #ff667d; /* pink */
}
