body, ul, li, div, h1, h2,
section, header, footer, sidebar, subhead,
button, row-label, col-label, i, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: transparent;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #F5F5F5;
  margin: 10px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #076390;
  font-size: 20px;
  padding: 10px;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.author {
  font-size: 16px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact a, .contact span {
  display: block;
}

.contact a {
  padding: 0 5px;
}

.contact {
  margin-right: -5px;
}

header .contact span {
  margin-right: 5px;
}

header .contact a:hover {
  background-color: #3284AB;
  border-radius: 4px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA741;
  font-size: 12px;
  padding: 10px;
}

.link {
  text-decoration: underline;
}

footer .contact a {
  font-size: 16px;
}

footer .contact a:hover {
  background-color: #E37A00;
  border-radius: 4px;
}

/* Left nav bar */

nav {
  background-color: #E37A00;
  padding: 10px;
  flex-shrink: 0;
}

#start-btn {
  font-weight: bold;
  background: #076390;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #1876A3;
}

/* Right side bar */

sidebar {
  background-color: #FFA741;
  margin-left: 10px;
  flex-grow: 1;
  min-width: 100px;
}

h2 {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #076390;
}

/* Board */

content {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}

#loader {
  position: absolute;
  display: none;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 4px solid lightgrey;
  border-radius: 50%;
  border-top: 4px solid #FFA741;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.white-captured, .black-captured {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-left: 10px;
  background-color: lightgrey;
  padding: 0 5px;
}

.white-captured:not(.empty) {
  margin-bottom: 5px;
}

.black-captured:not(.empty) {
  margin-top: 5px;
}

.white-captured li, .black-captured li {
  font-size: 30px;
  text-align: center;
}

.board-row {
  display: flex;
  align-items: center;
}

.cell, .row-label, .col-label {
  width: 60px;
  height: 60px;
  margin: 1px;
  text-align: center;
}

.cell {
  font-size: 40px;
}

.board-black {
  background-color: #3284AB;
}

.board-white {
  background-color: #e8f6fd;
}

.row-label, .col-label {
  font-family: serif;
  font-size: 20px;
  background-color: lightgrey;
}

.row-label {
  width: 30px;
  padding: 20px 10px 10px 10px;
  margin-left: 10px;
}

.col-label {
  height: 30px;
  padding-top: 3px
}

.cell.selected {
  border: 2px solid black;
}

/* Chess pieces */

.selected, .moveable, .valid {
  cursor: pointer;
}

.moveable {
  border: 2px solid #E37A00;
}

.selected, .moveable:hover {
  background-color: #fff280; /* yellow */
}

.valid {
  background-color: #98fb98; /* light green */
}

.valid:hover {
  background-color: #6bfa6b; /* green */
}

.valid.unsafe {
  background-color: LightPink;
}

.valid.unsafe:hover, .threatened {
  background-color: #ff99a8; /* pink */
}

.moveable.threatened {
  background: linear-gradient(to bottom right, #ffe9b3, LightPink);
}

.selected.threatened, .moveable.threatened:hover {
  background: linear-gradient(to bottom right, #fff280, #ff99a8);
}

.threat {
  color: red;
}
